@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Elementum implementation : © Tomasz Karczewski imralav@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/*
	This is the CSS stylesheet of your game User Interface.

	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in elementum.js).

	Usually, you are using CSS to:

	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).

	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/
/*
	Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

	.white_token {
		background-image: url('img/tokens.png');
		background-position: 0px 0px;
	}
	.black_token {
		background-image: url('img/tokens.png');
		background-position: -20px 0px;
	}
	.token {
		width: 20px;
		height: 20px;
		background-repeat: none;
	}
*/
div.spell,
div.element-source {
  position: relative;
  width: 100px;
  height: 66.285px;
  font-size: 10px;
  padding: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
div.spell.clickable:hover,
div.element-source.clickable:hover {
  transform: translateY(3px) scale(1.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
div.spell.picked,
div.element-source.picked {
  transform: translateY(3px) scale(1.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
div.spell.fire,
div.element-source.fire {
  background-color: rgba(250, 121, 121, 0.5);
}
div.spell.air,
div.element-source.air {
  background-color: rgba(253, 251, 145, 0.589);
}
div.spell.earth,
div.element-source.earth {
  background-color: rgba(147, 212, 144, 0.589);
}
div.spell.water,
div.element-source.water {
  background-color: rgba(144, 168, 212, 0.589);
}
div.spell.universal,
div.element-source.universal {
  background-color: rgba(221, 130, 240, 0.589);
}
div.spell pre,
div.element-source pre {
  pointer-events: none;
}
div.spell pre.effect,
div.element-source pre.effect {
  font-size: 8px;
}
div.spell div.crystals,
div.element-source div.crystals {
  width: 20x;
  right: 20px;
  position: absolute;
}
div.spell div.virtual-element-sources-container,
div.element-source div.virtual-element-sources-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
div.spell div.virtual-element-sources-container div.virtual-element-source,
div.element-source div.virtual-element-sources-container div.virtual-element-source {
  flex-basis: 40%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
div.spell div.virtual-element-sources-container div.virtual-element-source:hover,
div.element-source div.virtual-element-sources-container div.virtual-element-source:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
div.spell div.virtual-element-sources-container div.virtual-element-source.selected,
div.element-source div.virtual-element-sources-container div.virtual-element-source.selected {
  background-color: rgba(200, 255, 200, 0.5);
}
div.spell div.virtual-element-sources-container div.virtual-element-source.selected:hover,
div.element-source div.virtual-element-sources-container div.virtual-element-source.selected:hover {
  background-color: rgba(200, 255, 200, 0.8);
}

div.element-source {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.crystal {
  background-color: rgb(211, 99, 255);
  border: 1px solid rgb(171, 80, 207);
  border-radius: 25%;
  width: 16px;
  height: 16px;
}

.frame {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

div#layout {
  display: flex;
  gap: 1px;
  justify-content: space-between;
}
div#layout div#main-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
div#layout div#main-column div#current-player-hand-container {
  display: flex;
  flex-direction: column;
}
div#layout div#main-column div#current-player-hand-container div#current-player-hand {
  display: flex;
  justify-content: center;
  gap: 3px;
  min-height: 66.285px;
}
div#layout div#main-column div#board {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
div#layout div#main-column div#board div.player-board {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: auto;
}
div#layout div#main-column div#board div.player-board.current {
  order: -1;
}
div#layout div#main-column div#board div.player-board div.player-board-container {
  display: flex;
  flex-shrink: 0;
  gap: 5px;
}
div#layout div#main-column div#board div.player-board div.player-board-container div.spells-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
div#layout div#side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
div#layout div#side-panel div#spell-pool-container {
  display: flex;
  flex-direction: column;
}
div#layout div#side-panel div#spell-pool-container div#spell-pool {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  gap: 1px;
}
div#layout div#side-panel div.crystals-pile {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
div#layout div#side-panel div.crystals-pile#main-crystals-pile {
  width: 100px;
  height: 100px;
}

div#animation-surface {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
}

div#cards-spawn-point {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: 100;
  left: 50%;
  top: -200px;
  pointer-events: none;
}

div#announcement {
  position: fixed;
  top: 200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 64px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 1;
  text-align: center;
}
div#announcement.visible {
  opacity: 1;
}
