/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Elementum implementation : © Tomasz Karczewski imralav@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*
	This is the CSS stylesheet of your game User Interface.
	
	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in elementum.js).
	
	Usually, you are using CSS to:
	
	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).
	
	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/

/*
	Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

	.white_token {
		background-image: url('img/tokens.png');
		background-position: 0px 0px;
	}
	.black_token {
		background-image: url('img/tokens.png');
		background-position: -20px 0px;
	}
	.token {
		width: 20px;
		height: 20px;
		background-repeat: none;
	}
*/

@import "scss/spells.scss";
@import "scss/crystals.scss";

.frame {
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

div#layout {
  display: flex;
  flex-direction: column;

  div#spell-pool-and-current-player-hand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap-reverse;

    div#spell-pool-container,
    div#current-player-hand-container {
      display: flex;
      flex-direction: column;
    }

    div#spell-pool,
    div#current-player-hand {
      display: flex;
      justify-content: center;
      padding: 5px;
      gap: 1px;
    }
  }

  div#board {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;

    div.player-board {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
      width: auto;

      div.player-board-container {
        display: flex;
        flex-shrink: 0;
        gap: 5px;

        div.spells-column {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

div.crystals-pile {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &#main-crystals-pile {
    width: 100px;
    height: 100px;
  }
}

div#animation-surface {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
}

div#cards-spawn-point {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: 100;
  left: 50%;
  top: -200px;
  pointer-events: none;
}
